<%- include('../partials/header') %>

<section class="edit-donation" style="padding: 50px 0;">
    <div class="container">
        <div class="text-center">
            <h2>Edit Donation</h2>
        </div>

        <div class="d-flex justify-content-center">
            <form action="/donate/edit/<%= item._id %>" method="POST" enctype="multipart/form-data" style="width: 500px;" class="text-center">
                <div class="input-wrapper">
                    <input type="text" name="title" value="<%= item.title %>" required />
                </div>
                <div class="input-wrapper">
                    <textarea name="description"><%= item.description %></textarea>
                </div>
                <div class="input-wrapper">
                    <input type="text" name="category" value="<%= item.category %>" />
                </div>
                <div class="input-wrapper">
                    <input type="text" name="location" value="<%= item.location %>" />
                </div>
                <div class="input-wrapper">
                    <label>Upload New Image (optional)</label>
                    <input type="file" name="image" />
                </div>
                <button class="button-style" type="submit">Update Donation</button>
            </form> 
        </div>
        


    </div>
</section>


<%- include('../partials/footer') %>
